In [1]:
import pandas as pd
import numpy as np

In [15]:
debt_deta = pd.read_excel('IDS_ALLCountries.xlsx',sheet_name='Data')

In [3]:
Country_deta = pd.read_excel('IDS_ALLCountries.xlsx', sheet_name='Country - Metadata')

In [4]:
Series_deta = pd.read_excel('IDS_ALLCountries.xlsx', sheet_name= 'Series - Metadata')

In [16]:
debt_deta

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77795,Data from database: International Debt Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77796,Last Updated: 02/29/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
debt_deta.tail(10)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
77787,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,0.0,0.0,0.0,0.0,...,1.147855e+09,8.389780e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77788,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,0.0,0.0,0.0,0.0,...,6.528428e+06,6.363256e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77789,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,0.0,0.0,0.0,0.0,...,1.154383e+09,8.453412e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77790,Zimbabwe,ZWE,World,WLD,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.US.CD,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77791,Zimbabwe,ZWE,World,WLD,"Use of IMF credit and SDR allocations (DOD, cu...",DT.DOD.DIMF.CD,0.0,0.0,0.0,0.0,...,1.422011e+09,1.352160e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77795,Data from database: International Debt Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77796,Last Updated: 02/29/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#removing last 5 rows 
debt_deta = debt_deta.iloc[:-5]

In [19]:
debt_deta.tail()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
77787,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,0.0,0.0,0.0,0.0,...,1.147855e+09,8.389780e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77788,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,0.0,0.0,0.0,0.0,...,6.528428e+06,6.363256e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77789,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,0.0,0.0,0.0,0.0,...,1.154383e+09,8.453412e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77790,Zimbabwe,ZWE,World,WLD,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.US.CD,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77791,Zimbabwe,ZWE,World,WLD,"Use of IMF credit and SDR allocations (DOD, cu...",DT.DOD.DIMF.CD,0.0,0.0,0.0,0.0,...,1.422011e+09,1.352160e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
debt_deta = debt_deta.drop(['Counterpart-Area Name','Counterpart-Area Code',2024,2025,2026,2027,2028,2029,2030],axis= 1)
debt_deta

,Country Name,Country Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.983330e+01,0.0,0.000000e+00,1.983560e+01,0.000000e+00,1.790410e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.983330e+01,0.0,0.000000e+00,1.983560e+01,0.000000e+00,1.790410e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.192890e+01,0.0,0.000000e+00,6.426460e+01,0.000000e+00,7.307900e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,...,8.192890e+01,0.0,0.000000e+00,6.426460e+01,0.000000e+00,7.307900e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77787,Zimbabwe,ZWE,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,1.017484e+09,839327062.9,1.624987e+09,1.510382e+09,1.368063e+09,1.371991e+09,1.321012e+09,1.147855e+09,8.389780e+08,NaN
77788,Zimbabwe,ZWE,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,2.075039e+07,11367395.3,9.216350e+06,6.573758e+06,6.395567e+06,6.384398e+06,6.806978e+06,6.528428e+06,6.363256e+06,NaN
77789,Zimbabwe,ZWE,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,1.038234e+09,850694458.2,1.634204e+09,1.516956e+09,1.374459e+09,1.378375e+09,1.327819e+09,1.154383e+09,8.453412e+08,NaN
77790,Zimbabwe,ZWE,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.US.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,9.239319e+07,86585989.4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
77791,Zimbabwe,ZWE,"Use of IMF credit and SDR allocations (DOD, cu...",DT.DOD.DIMF.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,4.867275e+08,463752752.4,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,1.422011e+09,1.352160e+09,NaN

In [22]:
Country_deta.head()

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,AFG,Islamic State of Afghanistan,Low income,South Asia,IDA,HIPC,Afghan afghani,1979,"Demographic and Health Survey, 2015",The reporting period for national accounts dat...,...,"Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,2000.0,AF,AF,Afghanistan,Afghanistan
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
2,DZA,People's Democratic Republic of Algeria,Lower middle income,Middle East & North Africa,IBRD,NaN,Algerian dinar,2020 (expected),"Multiple Indicator Cluster Survey, 2018/19",NaN,...,"Integrated household survey (IHS), 2011",NaN,NaN,2010.0,2017.0,2012.0,DZ,DZ,Algeria,Algeria
3,AGO,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,IBRD,NaN,Angolan kwanza,2014,"Demographic and Health Survey, 2015/16",The World Bank systematically assesses the app...,...,"Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,2005.0,AO,AO,Angola,Angola
4,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",The World Bank systematically assesses the app...,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina

In [25]:
code_value = Country_deta.loc[Country_deta['Region'].isnull(),'Code'].tolist()

In [26]:
code_value

['EAP',
 'ECA',
 'IDX',
 'IDA',
 'LAC',
 'LDC',
 'LMY',
 'LIC',
 'LMC',
 'MNA',
 'MIC',
 'SAS',
 'SSA',
 'UMC']

In [28]:
debt_deta = debt_deta[~debt_deta['Country Code'].isin(code_value)]

In [29]:
debt_deta

,Country Name,Country Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.983330e+01,0.0,0.000000e+00,1.983560e+01,0.000000e+00,1.790410e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.983330e+01,0.0,0.000000e+00,1.983560e+01,0.000000e+00,1.790410e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.192890e+01,0.0,0.000000e+00,6.426460e+01,0.000000e+00,7.307900e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,...,8.192890e+01,0.0,0.000000e+00,6.426460e+01,0.000000e+00,7.307900e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77787,Zimbabwe,ZWE,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,1.017484e+09,839327062.9,1.624987e+09,1.510382e+09,1.368063e+09,1.371991e+09,1.321012e+09,1.147855e+09,8.389780e+08,NaN
77788,Zimbabwe,ZWE,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,2.075039e+07,11367395.3,9.216350e+06,6.573758e+06,6.395567e+06,6.384398e+06,6.806978e+06,6.528428e+06,6.363256e+06,NaN
77789,Zimbabwe,ZWE,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,1.038234e+09,850694458.2,1.634204e+09,1.516956e+09,1.374459e+09,1.378375e+09,1.327819e+09,1.154383e+09,8.453412e+08,NaN
77790,Zimbabwe,ZWE,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.US.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,9.239319e+07,86585989.4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
77791,Zimbabwe,ZWE,"Use of IMF credit and SDR allocations (DOD, cu...",DT.DOD.DIMF.CD,0.0,0.0,0.0,0.0,0.0,0.0,...,4.867275e+08,463752752.4,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,1.422011e+09,1.352160e+09,NaN

In [30]:
#unpivoting all years column
debt_deta = pd.melt(debt_deta,
                        id_vars=['Country Name','Country Code','Series Name','Series Code'],
                        var_name='Years',
                        value_name='Value')

In [31]:
debt_deta

,Country Name,Country Code,Series Name,Series Code,Years,Value
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,1970,NaN
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,1970,NaN
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,1970,NaN
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,1970,NaN
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,1970,NaN
...,...,...,...,...,...,...
3768331,Zimbabwe,ZWE,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,2023,NaN
3768332,Zimbabwe,ZWE,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,2023,NaN
3768333,Zimbabwe,ZWE,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,2023,NaN
3768334,Zimbabwe,ZWE,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.US.CD,2023,NaN
3768335,Zimbabwe,ZWE,"Use of IMF credit and SDR allocations (DOD, cu...",DT.DOD.DIMF.CD,2023,NaN

In [32]:
debt_deta.isnull().sum()

Country Name          0
Country Code          0
Series Name           0
Series Code           0
Years                 0
Value           1726889
dtype: int64

In [35]:
debt_deta = debt_deta.dropna()

In [39]:
debt_deta = debt_deta[debt_deta['Value']!=0]

In [40]:
debt_deta

,Country Name,Country Code,Series Name,Series Code,Years,Value
1144,Algeria,DZA,Average grace period on new external debt comm...,DT.GPA.DPPG,1970,3.597500e+00
1145,Algeria,DZA,Average grace period on new external debt comm...,DT.GPA.OFFT,1970,9.249200e+00
1146,Algeria,DZA,Average grace period on new external debt comm...,DT.GPA.PRVT,1970,2.114900e+00
1147,Algeria,DZA,Average grant element on new external debt com...,DT.GRE.DPPG,1970,3.554000e-01
1148,Algeria,DZA,Average grant element on new external debt com...,DT.GRE.OFFT,1970,2.510610e+01
...,...,...,...,...,...,...
3768305,Zimbabwe,ZWE,"PS, official creditors (TDS, current US$)",DT.TDS.OFFT.PS.CD,2023,1.636351e+08
3768309,Zimbabwe,ZWE,"PS, other private creditors (INT, current US$)",DT.INT.PROP.PS.CD,2023,2.460000e+05
3768312,Zimbabwe,ZWE,"PS, other private creditors (TDS, current US$)",DT.TDS.PROP.PS.CD,2023,2.460000e+05
3768316,Zimbabwe,ZWE,"PS, private creditors (INT, current US$)",DT.INT.PRVT.PS.CD,2023,2.460000e+05
3768319,Zimbabwe,ZWE,"PS, private creditors (TDS, current US$)",DT.TDS.PRVT.PS.CD,2023,2.460000e+05

In [42]:
Country_deta.head(3)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,AFG,Islamic State of Afghanistan,Low income,South Asia,IDA,HIPC,Afghan afghani,1979,"Demographic and Health Survey, 2015",The reporting period for national accounts dat...,...,"Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,2000.0,AF,AF,Afghanistan,Afghanistan
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
2,DZA,People's Democratic Republic of Algeria,Lower middle income,Middle East & North Africa,IBRD,NaN,Algerian dinar,2020 (expected),"Multiple Indicator Cluster Survey, 2018/19",NaN,...,"Integrated household survey (IHS), 2011",NaN,NaN,2010.0,2017.0,2012.0,DZ,DZ,Algeria,Algeria

In [47]:
Country_deta.columns

Index(['Code', 'Long Name', 'Income Group', 'Region', 'Lending category',
       'Other groups', 'Currency Unit', 'Latest population census',
       'Latest household survey', 'Special Notes',
       'National accounts base year', 'National accounts reference year',
       'System of National Accounts', 'SNA price valuation',
       'PPP survey years', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [51]:
Country_deta =Country_deta.iloc[:,[0,1,2,3,6,29]]

In [52]:
Country_deta

,Code,Long Name,Income Group,Region,Currency Unit,Short Name
0,AFG,Islamic State of Afghanistan,Low income,South Asia,Afghan afghani,Afghanistan
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,Albanian lek,Albania
2,DZA,People's Democratic Republic of Algeria,Lower middle income,Middle East & North Africa,Algerian dinar,Algeria
3,AGO,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,Angolan kwanza,Angola
4,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,Argentine peso,Argentina
...,...,...,...,...,...,...
131,VUT,Republic of Vanuatu,Lower middle income,East Asia & Pacific,Vanuatu vatu,Vanuatu
132,VNM,Socialist Republic of Viet Nam,Lower middle income,East Asia & Pacific,Vietnamese dong,Viet Nam
133,YEM,Republic of Yemen,Low income,Middle East & North Africa,Yemeni rial,Yemen
134,ZMB,Republic of Zambia,Lower middle income,Sub-Saharan Africa,New Zambian kwacha,Zambia
135,ZWE,Republic of Zimbabwe,Lower middle income,Sub-Saharan Africa,Zimbabwean Dollar,Zimbabwe

In [53]:
Country_deta.isnull().sum()

Code              0
Long Name         0
Income Group     14
Region           14
Currency Unit    14
Short Name        0
dtype: int64

In [55]:
Country_deta = Country_deta.dropna()

In [56]:
Country_deta.isnull().sum()

Code             0
Long Name        0
Income Group     0
Region           0
Currency Unit    0
Short Name       0
dtype: int64

In [57]:
Series_deta.head(3)

,Code,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,Limitations and exceptions,General comments
0,DT.GPA.DPPG,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,NaN
1,DT.GPA.OFFT,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,NaN
2,DT.GPA.PRVT,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN,NaN

In [58]:
Series_deta.columns

Index(['Code', 'License Type', 'Indicator Name', 'Short definition',
       'Long definition', 'Source', 'Topic', 'Dataset', 'Periodicity',
       'Aggregation method', 'Limitations and exceptions', 'General comments'],
      dtype='object')

In [60]:
Series_deta = Series_deta.iloc[:,[0,2,3]]

In [61]:
Series_deta

,Code,Indicator Name,Short definition
0,DT.GPA.DPPG,Average grace period on new external debt comm...,Grace period is the period from the date of si...
1,DT.GPA.OFFT,Average grace period on new external debt comm...,Grace period is the period from the date of si...
2,DT.GPA.PRVT,Average grace period on new external debt comm...,Grace period is the period from the date of si...
3,DT.GRE.DPPG,Average grant element on new external debt com...,The grant element of a loan is the grant equiv...
4,DT.GRE.OFFT,Average grant element on new external debt com...,The grant element of a loan is the grant equiv...
...,...,...,...
566,FI.RES.TOTL.MO,Total reserves in months of imports,Total reserves comprise holdings of monetary g...
567,DT.UND.OFFT.CD,"Undisbursed external debt, official creditors ...",Undisbursed debt is the total public and publi...
568,DT.UND.PRVT.CD,"Undisbursed external debt, private creditors (...",Undisbursed debt is the total public and publi...
569,DT.UND.DPPG.CD,"Undisbursed external debt, total (UND, current...",Undisbursed debt is the total public and publi...
570,DT.DOD.DIMF.CD,"Use of IMF credit (DOD, current US$)",Use of IMF credit denotes members’ drawings on...

In [63]:
debt_deta.to_csv('Debt Data.csv',index= False)
Series_deta.to_csv('Series Data.csv', index= False)
Country_deta.to_csv('Country Data.csv', index= False)
print('New CSV file is saved')

New CSV file is saved